{{#*inline "content"}}
<div>
	<div>
		<h2>Next item</h2>
		{{#if best_item}}
		<h3>{{best_item.title}}</h3>
		<p>{{best_item.content}}</p>
		{{else}}
		<h3>Nothing :(</h3>
		{{/if}}
	</div>

	<ul id="ballot-rankings-container" class="list-group">
		{{#each ranked_items}}
		<li data-id="{{id}}"class="list-group-item">
			<p><b>{{title}}</b></p>
			<p>{{content}}</p>
		</li>
		{{/each}}

		<li data-id="delimiter" id="ballot-ranked-unranked-delim">
			<hr size="8"/>
		</li>

		{{#each unranked_items}}
		<li data-id="{{id}}"class="list-group-item">
			<p><b>{{title}}</b></p>
			<p>{{content}}</p>
		</li>
		{{/each}}
	</ul>
</div>
{{/inline}}

{{#*inline "scripts"}}
<!-- jsDelivr:: Sortable :: Latest
	(https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js">
</script>

<script>
let sortable_item_ids = Sortable.create(
	document.getElementById('ballot-rankings-container'), {
		onEnd: evt => {
			let sorted_item_ids = sortable_item_ids.toArray();
			let ranked_item_ids = sorted_item_ids
				.slice(0, sorted_item_ids.indexOf('delimiter'))
				.map(n => parseInt(n, 10));

			fetch( "/ballot", {
				method: 'POST', 
				headers: {
				  'Content-Type': 'application/json'
				},
				redirect: 'follow',
				body: JSON.stringify({ ranked_item_ids })
			});
		},
	});
</script>
{{/inline}}

{{#*inline "stylesheets"}}
<style>
	#ballot-rankings-container {
		padding: 0;
	}

	#ballot-rankings-container li {
		list-style: none;
	}

	#ballot-ranked-unranked-delim hr {
		color: black;
		background-color: black;
	}

	#ballot-ranked-unranked-delim ~ .list-group-item {
		background-color: grey;
	}
</style>
{{/inline}}

{{>layout}}
