{{#*inline "stylesheets"}}
<style>
	#ballot-ranked-unranked-delim {
		background-color: #AAAAAA;
	}

	#ballot-ranked-unranked-delim ~ .list-group-item {
		background-color: #AAAAAA;
	}
</style>
{{/inline}}

{{#*inline "content"}}
<section class="section">
	<p class="title">This is our current best option</p>
  {{>best_item item=best_item}}

	<p class="title mt-6">Your rankings</p>
  <div id="ballot-rankings-container" class="list-group">
    {{#each ranked_items}}
    <div data-id="{{id}}" class="list-group-item box mt-1 mb-1">
      <p class="title">{{title}}</p>
      <p class="subtitle">{{content}}</p>
    </div>
    {{/each}}

    <div data-id="delimiter" 
      id="ballot-ranked-unranked-delim" 
      class="box mt-1 mb-1">
      <p class="subtitle">ITEMS BELOW THIS IS NOT RANKED</p>
    </div>

    {{#each unranked_items}}
    <div data-id="{{id}}" class="list-group-item box mt-1 mb-1">
      <p class="title">{{title}}</p>
      <p class="subtitle">{{content}}</p>
    </div>
    {{/each}}
  </div>
</section>
{{/inline}}

{{#*inline "scripts"}}
<!-- jsDelivr:: Sortable :: Latest
	(https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js">
</script>

<script>
let sortable_item_ids = Sortable.create(
	document.getElementById('ballot-rankings-container'), {
		onEnd: evt => {
			let sorted_item_ids = sortable_item_ids.toArray();
			let ranked_item_ids = sorted_item_ids
				.slice(0, sorted_item_ids.indexOf('delimiter'))
				.map(n => parseInt(n, 10));

			fetch( "/ballot", {
				method: 'POST', 
				headers: {
				  'Content-Type': 'application/json'
				},
				redirect: 'follow',
				body: JSON.stringify({ ranked_item_ids })
			});
		},
	});
</script>
{{/inline}}

{{>layout}}
