{{#*inline "content"}}

<div>
	<div id="ballot-rankings-container" class="list-group">
	{{#each ranked_items}}
		<div class="list-group-item">
			<h3>{{title}}</h3>
			<p>{{content}}</p>
		</div>
	{{/each}}
	<div class="list-group-item"><hr/></div>
	{{#each unranked_items}}
		<div class="list-group-item">
			<h3>{{title}}</h3>
			<p>{{content}}</p>
		</div>
	{{/each}}
	</div>
</div>

<!-- jsDelivr:: Sortable :: Latest
	(https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js">
</script>
<script>
	Sortable.create(
		document.getElementById('ballot-rankings-container'), 
		{});
</script>

{{/inline}}

{{>layout}}
