{{#*inline "content"}}
	<div class="container__bestItem">
		<h2>Next item</h2>
		{{#if best_item}}
			<h3>{{best_item.title}}</h3>
			<p>{{best_item.content}}</p>
		{{else}}
			<h3>Nothing :(</h3>
		{{/if}}
	</div>

	<form method="POST" action="/ballot">
		<button type="submit">Give your ballot</button>
	</form>
	<form method="GET" action="/ballot">
		<button type="submit">Change your ballot</button>
		<input type="text" placeholder="Previously given unique id"/>
	</form>

	{{>items_list items=undone_items}}
{{/inline}}

{{>layout}}
