{{#*inline "content"}}
<section class="section">
	<p class="title">This is our current best option</p>
	{{>best_item item=best_item}}

	<form method="POST" action="/login">
		<div class="field is-grouped">
			<div class="control">
				<input class="input" name="uuid" type="text" placeholder="A unique id"/>
			</div>
			<div class="control">
				<button class="button is-link" type="submit">Cast your ballot</button>
			</div>
			<div class="control">
				<a href="/register" class="button is-link">Register now!</a>
			<div class="control">
    </div>
	</form>
</section>
{{/inline}}

{{>layout}}

